.color-1 {
    background-color: #7f0000;
    color: white
}

.color-2 {
    background-color: #0000B2;
    color: white
}

.color-3 {
    background-color: #FFE600;
    color: white
}

.color-4 {
    background-color: #FF781F;
    color: white
}

.color-5 {
    background-color: #1ACF06;
    color: white
}

.color-6 {
    background-color: #5D11CF;
    color: white
}

.color-7 {
    background-color: #915C0C;
    color: white
}

.color-8 {
    background-color: #FFFFFF;
    color: black
}

.color-9 {
    background-color: #2E2E2E;
    color: white
}

