html {
    background-color: #008080;
}

.color-button-container {
    background-color: #008080;
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

#button-color-1 {
    background-color: #E64444;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}


#button-color-2 {
    background-color: #799ccf;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-3 {
    background-color: #f6c92b;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-4 {
    background-color: #EE8D49;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-5 {
    background-color: #76b76b;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-6 {
    background-color: #9559DF;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-7 {
    background-color: #AA703E;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-8 {
    background-color: #FCFBF7;
    color: black;
    width: 150px;
    height: 125px;
    margin: .25em;
}

#button-color-9 {
    background-color: #1A1D1E;
    color: white;
    width: 150px;
    height: 125px;
    margin: .25em;
}

