#color-1 {
    background-color: #7f0000;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px;
    margin: .25em; 
}

#color-2 {
    background-color: #799ccf;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px;
    margin: .25em;  
}

#color-3 {
    background-color: #f6c92b;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-4 {
    background-color: #EE8D49;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-5 {
    background-color: #76b76b;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-6 {
    background-color: #5D11CF;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-7 {
    background-color: #915C0C;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-8 {
    background-color: #ffffffd5;
    border: solid black 1px;
    color: black;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}

#color-9 {
    background-color: #2E2E2E;
    border: solid black 1px;
    color: white;
    width: 200px;
    height: 125px; 
    margin: .25em; 
}