.NavBar {
    background-color: #b3b3b3;
    border: 3px outset;
    height: 50px;
    margin: 0em 0em 0em -1.1em;
}

.nav-option {
    background-color: #b3b3b3;
    margin: -.55em 0em;
    border: 30px solid #b3b3b3;
    color: black;
    font-size: 15px;
}

.start-button {
    border: 2px outset;
    color: black !important;
}
