.login-container {
    background-color: #008080;
    display: flex;
    justify-content: center;
    padding: 10em 0em 0em 0em;
}

.login-bottom {
    text-align: right;
    width: 40%;
    border: 3px outset;
    background-color: #b3b3b3;

}

.login-header {
    text-align: left;
    color: white;
    background-color: #010081;
    padding: .4em .4em .6em .4em;
}

.login-field {
    padding: .5em 0em 0em 0em;
    margin: 0em 0em .5em 0em;
}

.login-input-field{
    padding: 1em 6em 0em 1em;

}

.submit-button {
    background-color: #b3b3b3;
    margin: 1em 2em;
}

.register-button {
    background-color: #b3b3b3;
    margin: 0em 15em 0em 0em;
}
