.register-container {
    background-color: #008080;
    display: flex;
    justify-content: center;
    padding: 10em 0em 0em 0em;
}

.register-bottom {
    text-align: center;
    width: 40%;
    border: 3px outset;
    background-color: #b3b3b3;

}

.register-header {
    text-align: left;
    color: white;
    background-color: #010081;
    padding: .4em .4em .6em .4em;
}

.register-input-field {
    padding: 1em;
}

.register-form {
    width: 400px;
}

.submit-button {
    background-color: #b3b3b3;
    margin: 1em 2em;
}